<section class="section about">
  <div class="container about__wrapper">
    <h2 class="section__title">about</h2>
    <div class="about__content">
      <p class="about__description">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
      <picture>
        <source media="(max-width: 767px)" srcset="./images/about/about-m.jpg" width="100%" />
        <source
          media="(max-width: 1279px)"
          srcset="./images/about/about-t.jpg"
          width="344"
          height="217"
        />
        <img src="./images/about/about-d.jpg" alt="" />
      </picture>
    </div>
  </div>
</section>
