<section class="section delivery">
  <div class="container">
    <h2 class="section__title">delivery</h2>
    <div class="delivery__wrapper">
      <ul class="delivery__list">
        <li class="delivery__item">
          <p class="delivery__number">1</p>
          <p class="delivery__description">Choose your bouquet and make an order on website</p>
        </li>
        <li class="delivery__item">
          <p class="delivery__number delivery__number--second">2</p>
          <p class="delivery__description">
            Wait for the call to clarify the details of the order. You can pay online or to the
            courier
          </p>
        </li>
        <li class="delivery__item">
          <p class="delivery__number delivery__number--second">3</p>
          <p class="delivery__description">
            Wait for the delivery at the selected time or pick up the order from the store
          </p>
        </li>
        <li class="delivery__item">
          <p class="delivery__number delivery__number--third">4</p>
          <p class="delivery__description">Make someone happy or enjoy yourself</p>
        </li>
      </ul>
    </div>
  </div>
  <picture>
    <source
    srcset="./images/delivery-d@1x.jpg 1x, ./images/delivery-d@2x.jpg 2x"
    type="image/jpeg"
    media="(min-width: 1280px)"
    >
    <source
    srcset="./images/delivery-t@1x.jpg 1x, ./images/delivery-t@2x.jpg 2x"
    type="image/jpeg"
    media="(min-width: 768px)"
    >
    <source
    srcset="./images/delivery-m@1x.jpg 1x, ./images/delivery-m@2x.jpg 2x"
    type="image/jpeg"
    media="(max-width: 767.59px)"
    >
    <img class="delivery__background" src="./images/delivery-m@1x.jpg" alt="tło z kwiatów" width="1280" height="391">
  </picture>
</section>
