<footer class="footer">
  <div class="container footer__wrapper">
    <a href="#" class="logo logo--footer">
      <svg class="logo__svg" width="73" height="57">
        <use class="logo__use-m" href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <section class="footer__section">
      <h4 class="footer__title">Navigation</h4>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#anemone" class="footer__link">Anemone</a>
        </li>
        <li class="footer__item">
          <a href="#about-us" class="footer__link">About us</a>
        </li>
        <li class="footer__item">
          <a href="#store" class="footer__link">Store</a>
        </li>
        <li class="footer__item">
          <a href="#delivery" class="footer__link">Delivery</a>
        </li>
      </ul>
    </section>
    <section class="footer__section">
      <h4 class="footer__title">Opening times</h4>
      <ul class="footer__list">
        <li class="footer__item">
          Every day <br />
          9:00 - 22:00
        </li>
      </ul>
    </section>
    <section class="footer__section">
      <h4 class="footer__title">Contacts</h4>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="tel:+380631234567" class="footer__link">+38 063 123 45 67</a>
        </li>
        <li class="footer__item">
          <a href="mailto:anemonestudio@example.com" class="footer__link"
            >anemonestudio@example.com</a
          >
        </li>
        <li class="footer__item">
          Reitarska Street, 11 <br />
          Kyiv, Ukraine
        </li>
      </ul>
    </section>
    <section class="footer__section footer__section--vertical">
      <a class="footer__social" href="#">
        <svg width="28" height="28">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
      <a class="footer__social" href="#">
        <svg width="28" height="28" class="footer__social--active">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </section>
  </div>
</footer>
