<header class="header">
  <div class="container header__wrapper">
    <a href="#" class="logo">
      <svg class="logo__svg" width="45" height="35">
        <use class="logo__use-m" href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="header__box">
        <button class="phone" type="button">
            <svg class="phone__svg" width="22" height="22">
                <use class="phone__use-m" href="./images/icons.svg#icon-phone"></use>
            </svg>
        </button>
        <button class="hamburger" type="button">
            <svg class="hamburger__svg" width="24" height="24">
                <use class="hamburger__use-m" href="./images/icons.svg#icon-hamburger"></use>
            </svg>
        </button>
    </div>
  </div>
</header>
