<section class="section hero">
  <div class="container hero__wrapper">
    <div class="hero__box">
        <p class="hero__text">flower<br/>studio</p>
        <picture class="hero__picture">
          <source
            media="(max-width: 767px)"
            srcset="./images/hero/img-hero-m.jpg"
            width="145"
            height="274"
          />
          <img src="./images/hero/img-hero-td.jpg" alt="zdjecie kwiata" width="390" height="636" />
        </picture>
        <button class="shopnow" type="button">
          <svg class="shopnow__icon" width="64" height="76">
            <use class="shopnow__icon--m" href="./images/icons.svg#icon-shopnow-m"></use>
            <use class="shopnow__icon--t" href="./images/icons.svg#icon-shopnow-t"></use>
            <use class="shopnow__icon--d" href="./images/icons.svg#icon-shopnow-d"></use>
          </svg>
        </button>
    </div>
    <h1 class="hero__title">anemone</h1>
  </div>
</section>
