<section class="section hero" id="anemone">
  <div class="container hero__wrapper">
    <p class="hero__text">flower<br />studio</p>
    <picture>
      <source
        srcset="./images/hero-t@1x.jpg 1x, ./images/hero-t@2x.jpg 2x"
        type="image/jpeg"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero-m@1x.jpg 1x, ./images/hero-m@2x.jpg 2x"
        type="image/jpeg"
        media="(max-width: 767.49px)"
      />
      <img src="./images/hero-m@1x.jpg" alt="flower">
    </picture>
    <button class="shopnow">
        <svg class="shopnow__svg" width="64" height="76">
            <use class="shopnow__use-m" href="./images/icons.svg#icon-shopnow-m"></use>
            <use class="shopnow__use-t" href="./images/icons.svg#icon-shopnow-t"></use>
            <use class="shopnow__use-d" href="./images/icons.svg#icon-shopnow-d"></use>
        </svg>
    </button>
    <h1 class="hero__title">anemone</h1>
  </div>
</section>
