<div class="js-menu-container mobile-menu" id="mobile-menu">
  <button class="menu-toggle menu-toggle--close js-close-menu">
    <svg class="menu-toggle__icon">
      <use href="./images/icons.svg#icon-close-modal"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li>
      <a href="#" class="mobile-menu__link">Anemone</a>
    </li>
    <li>
      <a href="#about-us" class="mobile-menu__link">About us</a>
    </li>
    <li>
      <a href="#store" class="mobile-menu__link">Store</a>
    </li>
    <li>
      <a href="#delivery" class="mobile-menu__link">Delivery</a>
    </li>
    <li>
      <a href="#blog" class="mobile-menu__link">Blog</a>
    </li>
  </ul>
</div>
