<section class="section store" id="store">
  <div class="container">
    <h2 class="section__title">store</h2>
    <div class="store__wrapper">
      <div class="store__gallery">
        <figure class="store__figure">
          <div data-aos="fade-right">
            <picture>
              <source
                srcset="./images/store-first-d@1x.jpg 1x, ./images/store-first-d@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/store-first-t@1x.jpg 1x, ./images/store-first-t@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/store-first-m@1x.jpg 1x, ./images/store-first-m@2x.jpg 2x"
                type="image/jpeg"
                media="(max-width: 767.59px)"
              />
              <img
                src="./images/store-first-m@1x.jpg"
                alt="first flower"
                width="600"
                height="542"
              />
            </picture>
          </div>
          <figcaption>
            <h4 class="store__item">compliments</h4>
            <p class="store__price">from $15</p>
          </figcaption>
        </figure>
        <figure class="store__figure">
          <div data-aos="fade-left">
            <picture>
              <source
                srcset="./images/store-second-d@1x.jpg 1x, ./images/store-second-d@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/store-second-t@1x.jpg 1x, ./images/store-second-t@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/store-second-m@1x.jpg 1x, ./images/store-second-m@2x.jpg 2x"
                type="image/jpeg"
                media="(max-width: 767.59px)"
              />
              <img
                src="./images/store-second-m@1x.jpg"
                alt="second flower"
                width="600"
                height="542"
              />
            </picture>
          </div>
          <figcaption>
            <h4 class="store__item">bouquets size S</h4>
            <p class="store__price">from $25</p>
          </figcaption>
        </figure>
        <figure class="store__figure">
          <div data-aos="fade-right">
            <picture>
              <source
                srcset="./images/store-third-d@1x.jpg 1x, ./images/store-third-d@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/store-third-t@1x.jpg 1x, ./images/store-third-t@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/store-third-m@1x.jpg 1x, ./images/store-third-m@2x.jpg 2x"
                type="image/jpeg"
                media="(max-width: 767.59px)"
              />
              <img
                src="./images/store-third-m@1x.jpg"
                alt="third flower"
                width="600"
                height="542"
              />
            </picture>
          </div>
          <figcaption>
            <h4 class="store__item">bouquets size M</h4>
            <p class="store__price">from $45</p>
          </figcaption>
        </figure>
        <figure class="store__figure">
          <div data-aos="fade-left">
            <picture>
              <source
                srcset="./images/store-fourth-d@1x.jpg 1x, ./images/store-fourth-d@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/store-fourth-t@1x.jpg 1x, ./images/store-fourth-t@2x.jpg 2x"
                type="image/jpeg"
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/store-fourth-m@1x.jpg 1x, ./images/store-fourth-m@2x.jpg 2x"
                type="image/jpeg"
                media="(max-width: 767.59px)"
              />
              <img
                src="./images/store-fourth-m@1x.jpg"
                alt="fourth flower"
                width="600"
                height="542"
              />
            </picture>
          </div>
          <figcaption>
            <h4 class="store__item">bouquets size L</h4>
            <p class="store__price">from $60</p>
          </figcaption>
        </figure>
      </div>
      <button class="button button--order store__button" data-modal-contact-open>Order flowers</button>
    </div>
  </div>
</section>
