.about {
  &__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 16px;
  }
}
