* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: none;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  color: #5c5c5c;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.21;
  }
  &__input {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    height: 35px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 49px;
      font-size: 14px;
      line-height: 1.21;
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and (min-width: 1280px) {
      height: 49px;
      font-size: 14px;
      line-height: 1.21;
      padding-left: 16px;
      padding-right: 16px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
