// GLOBAL STYLE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// BODY 
body {
    font-family: $fontFamilyPrimary;
    color: #000000;
}

// LINK STYLE
a {
  text-decoration: none;
}

// LIST STYLE
ul {
  list-style: none;
}

// BUTTON
button {
    cursor: pointer;
}
// HELPFUL CONTAINER
.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
