.header {
  width: 100%;
  position: fixed;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  z-index: 2;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    display: flex;
    gap: 14px;
  }
  &__nav {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__list {
    display: flex;
    gap: 24px;
  }
  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;

    color: #000000;
    &:is(:hover, :focus) {
      color: #e86f54;
    }
  }
}

.phone {
  background-color: transparent;
  border: none;
  &:is(:hover, :focus) {
    fill: #e86f54;
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
