.shopnow {
  background-color: transparent;
  border: none;
  &__icon {
    @media screen and (min-width: 768px) {
      width: 145px;
      height: 150px;
    }
    @media screen and (min-width: 1280px) {
      width: 166px;
      height: 166px;
    }
    &--m {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    &--t {
      @media screen and (max-width: 767px), (min-width: 1280px) {
        display: none;
      }
    }
    &--d {
      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
  }
}
